:root {
  --color-primary: #297c84;
  --color-primary-light: #359ba0;
  --color-secondary: #a02d2d;
  --color-accent: #ffcf06;

  --font-primary: "Fredoka One", sans-serif;
  --font-secondary: "Josefin Slab", serif;
}

html {
  font-family: var(--font-secondary);
}

ul, li, dl, ol {
  list-style-type: none;
  text-decoration: none;
}

a {
  list-style-type: none;
  text-decoration: none;
  color: #000;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-primary)
}
